body {
    background-color: rgb(75, 75, 75);
}
.game-tetris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:320px;
}
.tetris {
    border: 1px solid rgb(233, 233, 233);
}

.player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background-color: rgb(241, 241, 241);
}

.player-control__key {
    color:orange;
}
.reset-info {
    background-color: black;
    color: rgb(241, 241, 241);
    margin:0;
    padding:10px;
}